/**
 * Numeric, Navigation and Media Controls Layer
 */

/ {
  keymap {
    compatible = "zmk,keymap";

    layer_3 {
      display-name = "L3";
      bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
// │0              │1              │2              │3              │4              │5              │   │6              │7              │8              │9              │10             │11             │
    &kp GRAVE       &kp EXCL          &kp AT        &kp HASH        &kp LPAR        &kp RPAR            &kp LPAR        &kp RPAR        &kp PLUS        &kp MINUS       &kp PIPE      &trans
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │12             │13             │14             │15             │16             │17             │   │18             │19             │20             │21             │22             │23             │
    &kp TILDE       &kp DLLR        &hrml LCTRL PRCNT &hrml LALT CARET &hrml LCMD LBKT &hrml MEH RBKT   &hrmr LCMD LBKT &hrmr MEH RBKT  &hrmr LALT FSLH &hrmr LCTRL BSLH &kp QMARK         &trans
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │24             │25             │26             │27             │28             │29             │   │30             │31             │32             │33             │34             │35             │
    &trans          &trans          &trans          &trans          &kp LBRC        &kp RBRC            &kp LBRC        &kp RBRC        &kp LT          &kp GT          &trans          &trans
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                 │36             │37             │38             │   │39             │40             │41             │
                                                    &trans          &trans          &cmo L2             &cmo L3         &trans          &trans
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
      >;
    };
  };
};
